.about {
    padding: 50px 16px 50px 14px;
    display: flex;
    flex-direction: column;

    @include tablet {
        padding: 60px 20px;
    }

    @include laptop {
        flex-direction: row-reverse;
    }

    .info {
        margin-bottom: 38px;

        @include tablet {
            margin-bottom: 60px;
        }

        .experience {
            display: flex;
            flex-direction: column;
            margin-bottom: 28px;

            @include tablet {
                margin-bottom: 23px;
            }

            .value {
                width: 71px;
                height: 32px;
                margin-bottom: 16px;

                @include tablet {
                    margin-bottom: 11px;
                }
            }

            .text {
                width: 90px;
                height: 6px;
            }
        }

        .presentText {
            color: $beige;
            font-size: 14px;
            line-height: 20px;
            margin: 0 0 10px;
        }
    }

    .videoWrap {
        min-width: 260px;
        min-height: 174.09px;
        position: relative;

        @include tablet {
            width: 540.88px;
            height: 361.28px;
            margin-left: auto;
        }

        .video {
            width: 100%;
            height: 100%;
            z-index: 2;
            position: absolute;
        }

        &::before {
            content: "";
            position: absolute;
            background: #F7EEE5;
            width: 100%;
            height: 100%;
            transform: translate(-14px, -20px);
            z-index: 1;

            @include tablet {
                transform: translate(-29px, -41px);
                width: 96%;
                height: 106%;
            }
        }
    }
}
