.about {
    padding: 50px 16px 48px 14px;
    display: flex;
    flex-direction: column;

    @include tablet {
        padding: 60px 20px 58px;
    }

    @include laptop {
        flex-direction: row-reverse;
        padding: 80px 22px 58px 0;

    }

    @include desktop {
        padding: 100px 60px 98px 0;
    }

    .info {
        margin-bottom: 48px;
        flex-shrink: 1;

        @include tablet {
            margin-bottom: 71px;
        }

        @include laptop {
            flex-shrink: 1;
            margin-left: 26px;
            margin-bottom: 0;
        }

        @include desktop {
            margin-left: 40px;
        }

        .experience {
            display: flex;
            flex-direction: column;
            margin-bottom: 28px;

            @include tablet {
                margin-bottom: 22px;
            }


            @include laptop {
                margin-bottom: 39px;
            }

            .value {
                width: 71px;
                height: 32px;
                margin-bottom: 16px;

                @include tablet {
                    margin-bottom: 11px;
                }

                @include laptop {
                    width: 148px;
                    height: 66px;
                    margin-bottom: 28px;
                }
            }

            .text {
                width: 90px;
                height: 6px;

                @include laptop {
                    width: 189px;
                    height: 15px;
                }
            }
        }

        .presentText {
            color: $beige;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            margin: 0 0 10px;

            @include laptop {
                font-size: 18px;
                line-height: 30px;
                margin: 0 0 16px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .videoWrap {
        min-width: 263px;
        min-height: 176.09px;
        position: relative;

        @include tablet {
            width: 542.88px;
            height: 364.28px;
            margin-left: auto;
        }

        @include laptop {
            flex-grow: 1;
            flex-shrink: 0;
            width: 408.12px;
            height: 275.26px;
            margin-left: 39px;
            margin-top: 58px;
        }

        @include desktop {
            width: 549px;
            height: 368.93px;
            margin-left: 57px;
            margin-top: 35px;
        }

        .video {
            width: 100%;
            height: 100%;
            z-index: 2;
            position: absolute;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

        }

        &::before {
            content: "";
            position: absolute;
            background: #F7EEE5;
            width: 96%;
            height: 106%;
            transform: translate(-14px, -20px);
            z-index: 1;

            @include tablet {
                transform: translate(-29px, -41px);
            }

            @include laptop {
                transform: translate(-41px, -27px);
                width: 100%;
                height: 100%;
            }

            @include desktop {
                transform: translate(-35px, -37px);
            }
        }

        &::after {
            content: "";
            display: block;
            width: 100%;
            padding-bottom: 56.25%;
        }
    }
}

.milkLine {
    display: none;
    width: 100%;
    height: 18px;
    background-color: $milk;

    @include laptop {
        display: block;
    }

    @include desktop {
        display: none;
    }
}
