.mission {
    position: relative;
    padding: 28px 0 60px;
    color: $white;
    display: flex;
    flex-direction: column;
    align-content: center;

    @include tablet {
        padding: 59px 0 55px;
    }

    @include laptop {
        padding: 84px 0 101px;
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: $beige;
        background-image: url("./image/field.jpeg");
        background: linear-gradient(0deg, rgba(138, 123, 96, 0.42), rgba(138, 123, 96, 0.42)), image-set(url("./image/field.jpeg") 1x, url("./image/field@2x.jpeg") 2x);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        top: 0;
    }

    .titleMission {
        display: inline-block;
        font-weight: 400;
        width: auto;
        font-size: 18px;
        line-height: 46px;
        text-transform: uppercase;
        text-align: center;
        margin: 0 auto 3px;
        position: relative;

        @include tablet {
            font-size: 30px;
            margin: 0 auto 17px;
        }

        @include laptop {
            font-size: 48px;
            line-height: 80px;
            margin: 0 auto 31px;
        }

        @include desktop {
            margin: 0 auto 35px;
        }

        &::before,
        &::after {
            content: "";
            width: 15px;
            height: 1px;
            background: $white;
            position: absolute;

            @include laptop {
                width: 66px;
                height: 5px;
            }
        }

        &::before {
            top: 50%;
            left: -15%;

            @include tablet {
                top: 40%;
                left: -9%;
            }

            @include laptop {
                top: 44%;
                left: -18%;
            }
        }

        &::after {
            top: 50%;
            right: -16%;

            @include tablet {
                top: 40%;
                right: -9%;
            }

            @include laptop {
                top: 44%;
                right: -18%;
            }
        }
    }

    .textMission {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        text-align: center;
        min-width: 260px;
        padding: 0 10px;
        margin: 0 auto 29px;
        width: auto;

        @include tablet {
            width: 400px;
            margin: 0 auto 11px;
        }

        @include laptop {
            font-size: 24px;
            line-height: 32px;
            margin: 0 auto 31px;
            width: 585px;
        }

        @include desktop {
            margin: 0 auto 38px;
            width: 890px;
        }
    }

    .buttonSite {
        display: block;
        margin: 0 auto;
        padding: 0;
        border: none;
        width: 197px;
        height: 48px;
        background: $white;
        cursor: pointer;

        @include tablet {
            width: 172px;
        }

        @include laptop {
            width: 283px;
            height: 68px;
        }

        .linkSite {
            display: flex;
            width: 100%;
            height: 100%;
            color: $blue;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            text-decoration: none;

            @include tablet {
                font-size: 14px;
            }

            @include laptop {
                font-size: 18px;
            }
        }
    }
}
