.present {
	width: 100%;
	height: 352px;
	color: $white;
	position: relative;

	&::before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: $beige;
		background-image: url("./image/presentFon.jpeg");
		background: linear-gradient(0deg, rgba(138, 123, 96, 0.67), rgba(138, 123, 96, 0.67)), no-repeat center/cover image-set(url("./image/presentFon.jpeg") 1x, url("./image/presentFon@2x.jpeg") 2x);
		z-index: -1;

		@include desktop {
			background: linear-gradient(0deg, rgba(138, 123, 96, 0.67), rgba(138, 123, 96, 0.67)), no-repeat 0px -59px/cover image-set(url("./image/presentFon.jpeg") 1x, url("./image/presentFon@2x.jpeg") 2x);
		}

	}

	&::after {
		display: none;
		position: absolute;
		content: "";
		width: 493.26px;
		height: 367.7px;
		background: url("./image/confetti.svg");
		background-repeat: no-repeat;
		background-size: contain;
		right: -131px;
		bottom: -99px;

		@include desktop {
			display: unset;
		}
	}

	@include tablet {
		height: 314px;
	}

	@include laptop {
		height: 599px;
	}

	.logoWrap {
		width: 167px;
		height: 64.42px;
		background-color: $blue2;
		margin: 0 auto 54.58px;
		display: flex;
		align-items: center;
		justify-content: center;

		@include laptop {
			width: 267px;
			height: 103px;
			margin-left: 60px;
			margin-bottom: 135.58px;
		}

		@include desktop {
			margin-bottom: 115.58px;
		}

		.logo {
			width: 150.19px;
			height: 14.21;

			@include laptop {
				width: 240.13px;
				height: 22.71px;
			}
		}
	}

	.titleHeader {
		font-size: 24px;
		line-height: 24px;
		margin: 0 0 22px;
		padding: 0 10px;
		text-transform: uppercase;
		text-align: center;
		font-weight: 400;

		@include tablet {
			font-size: 36px;
			line-height: 40px;
		}

		@include laptop {
			font-size: 72px;
			line-height: 80px;
			margin: 0 0 28px 40px;
			text-align: unset;
			padding: 0;
		}

		@include desktop {
			margin: 0 0 15px 60px;
		}
	}

	.paragraph {
		font-size: 16px;
		line-height: 20px;
		padding: 0 10px;
		margin: 0 auto;
		text-align: center;

		@include tablet {
			max-width: 340px;
		}

		@include laptop {
			font-size: 26px;
			line-height: 36px;
			text-align: unset;
			margin-left: 40px;
			max-width: 500px;
			padding: 0;
		}

		@include desktop {
			margin-left: 60px;
		}
	}
}
