.products {
    background-color: $blue;
    padding: 32px 0;
    position: relative;
    overflow: hidden;

    @include laptop {
        padding: 95px 0 93px;
    }

    &::after {
        position: absolute;
        content: "";
        width: 179px;
        height: 132px;
        background: url("./image/blueSpots.png");
        background-repeat: no-repeat;
        background-size: contain;
        right: -56px;
        bottom: -66px;
        z-index: 1;

        @include tablet {
            right: 0px;
            bottom: -35px;
        }

        @include laptop {
            width: 436.68px;
            height: 322.69px;
            right: -280px;
            bottom: -146px;
        }

        @include desktop {
            right: -1px;
            bottom: -149px;
        }
    }

    .productsList {
        position: relative;
        list-style: none;
        margin: 0;
        padding-left: 43px;
        z-index: 2;

        @include tablet {
            padding-left: 69px;
        }

        @include laptop {
            padding-left: 126px;
            width: 650px;
        }

        @include desktop {
            padding-left: 146px;
        }

        .productItem {
            color: $white;
            margin: 0;
            position: relative;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 10px;

            @include laptop {
                font-size: 24px;
                line-height: 32px;
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            &::before {
                content: "";
                display: block;
                width: 22px;
                height: 28px;
                background: url(./image/arrow.svg);
                position: absolute;
                background-repeat: no-repeat;
                background-size: cover;
                left: -28px;
                top: 2px;

                @include tablet {
                    left: -49px;
                    top: 6px;
                }

                @include laptop {
                    width: 47px;
                    height: 60px;
                    left: -85px;
                    top: 1px;
                }
            }
        }
    }
}
