@import "mixin.scss";
@import "./_present.scss";
@import "./_about.scss";
@import "./_products.scss";
@import "./_mission.scss";
@import "./_advantages.scss";
@import "./_products.scss";
@import "./infographics.scss";


body {
	padding: 15px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	min-width: 290px;
	width: 100%;
	min-height: 100px;
	font-family: "ArialRegular", sans-serif;
	overflow: hidden;

	@include tablet {
		max-width: 610px;
	}

	@include laptop {
		max-width: 930px;
	}

	@include desktop {
		max-width: 1250px;
	}
}
